Source: vortex-fm
Section: admin
Priority: optional
Maintainer: Ehsan Tork <ehsan.tor@hey.com>
Build-Depends:
    debhelper-compat (=13),
    git,
    just (>= 1.13.0),
    libclang-dev,
    libglib2.0-dev,
    libxkbcommon-dev,
    pkg-config,
    rust-all,
Standards-Version: 4.6.2
Homepage: https://github.com/journalehsan/vortex-fm

Package: vortex-fm
Architecture: amd64 arm64
Depends: ${misc:Depends}, ${shlibs:Depends}, xdg-utils
Description: Vortex File Manager
